body {
  background-color: rgb(245, 245, 245);
} 

p{

  font-size: 125%;
}

.nav {
  background-color: rgb(56, 184, 243);
}

li {
  font-size: 125%;

}

a.nav-link{
  color:rgb(247, 247, 247)
}
a:hover{
  color:red;
}