body{
    background-color:#f1eaea;
    }

PRE   {
    font-size: 16px;
    }

a:hover {
        text-decoration: underline;
        color:red;
        }

a {
            text-decoration: none;
            }


.func {
    color: blue;
    font-size: 20px;
}

.func:hover {
    text-decoration: underline;
    color:red;
    cursor:pointer;
}

.functionOutput {
    color:red;
}

.divMargin {
            margin:5px;
        }

li {    margin-bottom: 10px;}

.divInfo    {
            margin-left:40px;
            }



.indentTop {margin-top:40px;}
.indentLeft {margin-left:40px;}
.underline {text-decoration:underline;}

.test.pass::before {
    content: '✓';
    font-size: 12px;
    display: block;
    float: left;
    margin-right: 5px;
    color: #00d6b2;
}

.test.fail::before {
    content: '✖';
    font-size: 12px;
    display: block;
    float: left;
    margin-right: 5px;
    color: #c00;
  }

.test.pass.fast .duration {
    display: none;
  }

  ul.testlist {
    list-style: none;
  }

  .description:nth-child(1) {
    list-style: none;
}